---

- name: "apt packages common"
  apt:
    name:
      - git
      - vim
      - flatpak
      - build-essential
      - dkms
        # - linux-headers-$(uname -r)
      - ttf-mscorefonts-installer 
      - rar
      - unrar
      - libavcodec-extra
      - gstreamer1.0-libav
      - gstreamer1.0-plugins-ugly
      - gstreamer1.0-vaapi
      - vlc
      - neofetch
      - htop
      - stow
      - synaptic
      - curl
      - mlocate
      - iperf
      - cifs-utils
      - hardinfo
      - tmux
      - tree
    state: latest
  when: ansible_os_family == 'Debian'

- name: "flathub repo"
  flatpak_remote:                                                                                                                                         
    name: flathub                                                                                                                                         
    state: present                                                                                                                                        
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo                                                                                      
    method: user

- name: "set vm.swappiness to 10 in /etc/sysctl.conf"
  sysctl:
    name: vm.swappiness
    value: "10"
    state: present

- name: "set grub timeout to 1 in /etc/default/grub"
  replace: 
    dest: '/etc/default/grub'
    regexp: '^(GRUB_TIMEOUT)=[0-9]*$'
    replace: '\1=1'
  register: grubtimeout

- name: "update grub"
  shell:
    cmd: update-grub
  when: grubtimeout.changed

