---

- name: "get service facts"
  service_facts:

- name: "brave - add apt signing key"
  apt_key:
    url: https://brave-browser-apt-release.s3.brave.com/brave-core.asc
    keyring: /etc/apt/trusted.gpg.d/brave-browser-release.gpg
    state: present

- name: "brave - add repo"
  apt_repository: 
    repo: "deb [arch=amd64] https://brave-browser-apt-release.s3.brave.com/ stable main"
    filename: brave-browser-release
    state: present

- name: "gather package facts"
  package_facts: 
    manager: auto

- name: "apt packages common"
  apt:
    name:
      - git
      - curl
      - vim
      - flatpak
      - gnome-software-plugin-flatpak
      - build-essential
      - dkms
        # - linux-headers-$(uname -r)
      - ttf-mscorefonts-installer 
      - rar
      - unrar
      - libavcodec-extra
      - gstreamer1.0-libav
      - gstreamer1.0-plugins-ugly
      - gstreamer1.0-vaapi
      - vlc
      - neofetch
      - htop
      - stow
      - synaptic
      - mlocate
      - iperf
      - cifs-utils
      - hardinfo
        #      - tmux
      - tree
      - pip
      - dpkg # required for Fedora
      - apt-transport-https # brave-browser
      - brave-browser
      - powerline
      - gir1.2-gtop-2.0 # prereq for system monitor gnome extension 
      - gir1.2-nm-1.0 # prereq for system monitor gnome extension
      - gir1.2-clutter-1.0 # prereq for system monitor gnome extension
      - dconf-editor 
      - xclip
      - lhasa
      - jlha-utils
      - mtr # trace route utility
    state: latest
  when: ansible_os_family == 'Debian'

- name: "flathub.org repo"
  flatpak_remote:                                                                                                                                         
    name: flathub                                                                                                                                         
    state: present                                                                                                                                        
    flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo                                                                                      

      #- name: "check if google chrome installed"
      #  shell:
      #    cmd: dpkg-query -l | grep google-chrome-stable
      #  register: deb_chrome_check
      #  changed_when: deb_chrome_check.rc == 1
      #  ignore_errors: yes
      #  
      #- name: "install google chrome"
      #  apt:
      #    deb: https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
      #    state: present
      #  when: deb_chrome_check.changed

- name: "Create /mnt/roms"
  file:
    path: /mnt/roms
    state: directory 

- name: "set vm.swappiness to 10 in /etc/sysctl.conf"
  sysctl:
    name: vm.swappiness
    value: "10"
    state: present

- name: "set grub timeout to 1 in /etc/default/grub"
  replace: 
    dest: '/etc/default/grub'
    regexp: '^(GRUB_TIMEOUT)=[0-9]*$'
    replace: '\1=1'
  register: grubtimeout

- name: "update grub"
  shell:
    cmd: update-grub
  when: grubtimeout.changed

- name: "install psutil - reqd for dconf"
  pip:
    name: psutil
    state: latest

    #- name: "vim stuff"
    #  become: yes
    #  become_user: walchst
    #  block:

    #    - name: "Create .vim dir"
    #      file:
    #        path: ~/.vim/autoload
    #        state: directory 

        #    - name: "Download junegunn/vim-plug"
        #      get_url:
        #        url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
        #        dest: ~//.vim/autoload/plug.vim

- name: "generate OpenSSH keypair with default values"
  community.crypto.openssh_keypair:
    path: /home/walchst/.ssh/id_rsa
    owner: walchst
    group: walchst

