---

#sudo dpkg --add-architecture i386 
# sudo apt update - not sure if below works for steam after dpkg

- name: "apt packages desktop" 
  apt:
    name:
      - nvidia-detect 
      - nvidia-driver 
      - sysfsutils 
      - openssh-server 
      - steam
      - libgl1-nvidia-glvnd-glx:i386
    state: latest
    update_cache: yes
  when: ansible_os_family == 'Debian'
        
- name: "flatpak - nvidia green with envy"
  flatpak:    
    name: com.leinardi.gwe 
    state: present

- name: "flatpak - retroarch"
  flatpak:
    name: org.libretro.Retroarch
    state: present

# Xbox Wireless Controller (xow)
- name: "xow dependencies"
  apt:
    name: 
      - cabextract
      - libusb-1.0-0-dev 

- name: "clone xow repo"
  git:
    repo: https://github.com/medusalix/xow.git
    dest: /usr/local/xow

- name: "build xow" 
  make:
    chdir: /usr/local/xow
    
- name: "install xow as root"
  make:
    chdir: /usr/local/xow
    target: install
  become: yes

- name: "start xow service"
  service:
    name: xow
    state: started
    enabled: yes

# sudo make BUILD=RELEASE
# sudo make install
# sudo systemctl enable xow
# sudo systemctl start xow
# # may need restart, to pair
# sudo systemctl kill -s SIGUSR1 xow
