---

- name: "apt packages laptop"
  apt:
    name:
      - tlp 
      - gimp 
      - openvpn
      - torbrowser-launcher 
      - blueman 
      - telegram-desktop 
      - remmina 
      - firmware-misc-nonfree
      - pavucontrol # extend audio beyond 100%
      - drawing # gnome drawing
      - openresolv # wireguard dependency
    state: latest
  when: ansible_os_family == 'Debian'
 
- name: "flatpak - signal"
  flatpak:
    name: org.signal.Signal
    state: present 
    
