- name: "Clone .dotfiles repo"
  become: true
  become_user: walchst
  git:
    repo: https://github.com/walchst/.dotfiles.git 
    dest: "/home/walchst/testing2"
    update: yes

# remove file
#rm ~/.bashrc # conflicts with stow initially

# shell
#stow -nvSt ~ alacritty bash git htop retroarch vim # error with README.MD, investigate how to exclude using *

