---

- name: "Manage .dotfiles"
  become_user: walchst
  become: true
  block:

    - name: "Clone .dotfiles repo"
      git:
        repo: https://github.com/walchst/.dotfiles.git 
        dest: "~/.dotfiles"
        update: no

    - name: "Remove existing bashrc"
      shell:
        cmd: mv .bashrc .bashrc.backup
        chdir: ~/
        creates: .bashrc.backup

    - name: "Stow .dotfiles"
      shell:
        cmd: stow -vSt ~ bash htop git vim > ../.stowed.flag
        chdir: ~/.dotfiles
        creates: ~/.stowed.flag

