- name: Installing packages laptop
  apt:
    name:
      - tlp 
      - gimp 
      - openvpn
      - torbrowser-launcher 
      - blueman 
      - telegram-desktop 
      - remmina 
      - firmware-misc-nonfree

- name: Installing flatpak packages laptop
  community.general.flatpak:
    name: org.videolan.VLC
    state: present
        #      - org.signal.Signal
    #      - org.libretro.RetroArch

        #others: exodus, syncient, PlexAmp appimage from plex
